<p style="color: green"><%= notice %></p>

<h1>Books List</h1>

<div id="books">
  <% if @books.empty? %>
    <p> No books available, add one! </p>
  <% else %>
    <% @books.each do |book| %>
      <%= render book %>
      <p>
        <%= link_to "Show", book %> |
        <%= link_to "Update", edit_book_path(book) %> |
        <%= link_to "Delete", delete_book_path(book) %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "Add a new book", new_book_path %>
